/*********** 这里自定义CSS样式 *************/

/* 标签 */

html{

}
h1{

}
a{

}
p{
	
}

/******* 类选择器 *******/

/* 每一个食物预览 */
.div_item{
	border:2px solid antiquewhite;
	border-radius:25px/25px;
	width: 95%;
	animation-duration: 0.5s;
}

/*里面有很多食物预览*/
.food_item{

	align:auto;
	text-align: center;
	text-align: -webkit-center;
}
/******* id选择器 *******/

/* 显示界面 */


#random_bt{
	transform: scale(1.25, 1.25);
    /*background-color: red;*/
    position: fixed;
    bottom: 10%;
    left: 45%;

}

#menu_bt{
	/*background-color: red;*/
}