<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- MDUI CSS -->
    <link rel="stylesheet"  href="{% static "/css/mdui.min.css" %}" />
    <link rel="stylesheet"  href="{% static "/css/custom.css" %}" />
	<link rel="stylesheet"  href="{% static "/css/animate.min.css" %}" />
    <title>{{ title }}</title>
</head>
<body>
  <div id="d_login">
    <form action="login/" method="post">
      {% csrf_token %}
      <div class="mdui-textfield">
        <input class="mdui-textfield-input" type="text" placeholder="名称" name="username"/>
      </div>

      <div class="mdui-textfield">
        <input class="mdui-textfield-input" type="text" placeholder="口令" name="password"/>
      </div>
      <input type="submit">
  </form>

  </div>



</body>
</html>